.principal{
    width: 960px;
    margin: 0 auto;
    background-color: white;
}


body{
    background-image: url(Imagens/fundo.jpg);
    padding: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    background-color: rgb(175, 35, 0);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.menu{
    text-decoration: none;
    color: #333333;
    background-color: #d9ae30;
    display: flex;
    margin: 0;
    padding: 15px 0px 15px 0px;
}
 hr{
    height: 0, 5px;
    border-color: #333333;
    background-color: #333333;
    display: flex;
    width: 960px;
    color: #333333;
 }
.menu li a{
    
    margin-left: 20px;
    border-radius: 4%;
    font-size: 16px;
    font: bold;
    color: black;
}

.nomes_pizzas{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

h3{
    margin: 20px 40px;

}

h1{
    margin: 20px 40px;
    margin-top: 60px;
}

img{
    max-width: 100%;
    display: block;
}



.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    
}

.flex>div{
    flex: 200px;
    margin: 10px 10px;
}

footer{
    display: flex;
    position: fixed;
    background-color: rgb(26, 25, 25);
    padding: 20px ;
    color: white;
}

footer p{
    margin-left: 20px;
    font-size: 14px;
}
