body, ul, li, p{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 2.0rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url(Imagens/fundo.jpg);
    
}

#principal{
    background-color: white;
    width: 80%;
    margin: 0 10% 0  ;
}


header{
    display: flex;
    color: white;
    background-color: rgb(175, 35, 0);
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 14px;
}

.menu{
    display: flex;
    background-color: rgb(194, 165, 39);
    padding: 12px;
    
}

.menu li{
    margin-left: 10px;
}

.menu li a{
    display: block;
    padding: 8px 2px;
    margin-left: 20px;
    border-radius: 4%;
    font-size: 16px;
    font: bold;
    color: black;
}

h3{
    margin: 20px 40px;

}

h1{
    margin: 20px 40px;
    margin-top: 60px;
}

img{
    max-width: 100%;
    display: block;
}



.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    
}

.flex>div{
    flex: 200px;
    margin: 10px 10px;
}

footer{
    display: flex;
    background-color: rgb(26, 25, 25);
    padding: 20px ;
    color: white;
}

footer p{
    margin-left: 20px;
    font-size: 14px;
}
